h1, h2, p {
  text-align: center;
}
body {
  background-image: url(blizpretty.jpg);
  font-family: sans-serif;
}
.menu {
  background-color: burlywood;
  width: 80%;
  max-width: 500px
  margin-left: auto;
  margin-right: auto;
  padding: 20px; 
}
.session {
  text-align: left;
  width: 75%;
}
.price {
  text-align: right;
  width: 25%;
}
.what {
  text-align: left;
  width: 49%;
}
.when {
  text-align: right;
  width: 49%;
}
.item p {
  display: inline-block
}
h1, h2 {
  font-family: Impact, sans;
}
.established {
  font-style: italic;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
